.App{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.todocreate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border: 3px solid black;

}

.add-button{
    margin-left: 10px;
    background-color: rgb(73, 73, 73);
    color: white;
    padding: 25px;
}

.add-button:hover{
    background-color: black;
    color: white;

}

.todo-input{
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    margin-left: 10px;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;

}   

.todolist{
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    
}

.icons{
    color: black;
    display: flex;
    gap: 10px;
    font-size: 25px;
}

.removeicon:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 28px;
    border-radius: 10%;
}

.editicon:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 28px;
    border-radius: 10%;
}

.checkicon:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 28px;
    border-radius: 10%;
}