.App{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.todocreate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border: 2px solid black;
}

.add-button{
    margin-left: 10px;
    background-color: rgb(89, 89, 89);
    color: white;
    padding: 10px;
}

.add-button:hover{
    background-color: black;
    color: white;
}

.todo-input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}   

.todolist{
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid black;
}

.icons{
    display: flex;
    gap: 10px;
    font-size: 25px;
}